<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>procreate</string>
				<string>brush</string>
				<string>brushset</string>
				<string>swatches</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dyn.ah62d4rv4ge81a6xtqr3gn2pyqy</string>
				<string>dyn.ah62d4rv4ge80e6xzsrya</string>
				<string>dyn.ah62d4rv4ge80e6xzsryhg3py</string>
				<string>dyn.ah62d4rv4ge81g75bsvv0u3px</string>
				<string>si.savage.procreate.document</string>
				<string>si.savage.procreate.brush</string>
				<string>si.savage.procreate.brushset</string>
				<string>si.savage.procreate.swatches</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>SUFeedURL</key>
	<string>https://jaromvogel.com/prospect/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Cc8c6GN5GRZSA2NcCDPMzdyP7cVKIibjuPGv4u/HMWE=</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>dyn.ah62d4rv4ge81a6xtqr3gn2pyqy, dyn.ah62d4rv4ge80e6xzsrya, dyn.ah62d4rv4ge80e6xzsryhg3py, dyn.ah62d4rv4ge81g75bsvv0u3px, si.savage.procreate.document, si.savage.procreate.brush, si.savage.procreate.brushset, si.savage.procreate.swatches</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>procreate</string>
					<string>brush</string>
					<string>swatches</string>
					<string>brushset</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
